@import url("grid.css");@charset "utf-8";html, body {	margin: 0px;	padding: 0px;	height: 100%;	font-family: 'Asap', 'Georgia', sans-serif;	font-size: 13px;	line-height: 1.321em;	font-color: #333;}/* This will enforce block-level properties to HTML5 elements */article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {	display: block;}#container {}header {}hgroup {}
h1{
	font-size:1.3em;

}
h1.main_text {
	font-size:1.6em;
	margin-top:10px;}
nav {}section {}

section.newsArcticle{
	width:585px;
	float:left;
	
	}
	
img.nofloat{
	float:none;
	margin-top:15px;
	}
	
label.labeltext{
	text-align:left;
	width:50px;
	display:block;
	
	}
form#commentForm{
	width:30%;
	background-color:#888;
	border:none;
	}
	
fieldset{
	border:none;
	}
	
.article_breaking{
	width:25%;
	float:left;
	margin-left:15px;
}

.article_other{
	width:25%;
	float:left;
	margin-left:15px;
}#twitterfeed {	width: 100%;	height: auto;	color: #000;	background-color: #fff;	text-align: center;}#twitterfeed a {color: #8888ff;}

#masthead {
	clear: both;
	padding: 5px 0px;
	border-top: 3px double red;
	border-bottom: 3px double red;
	text-align: center;
	height: 80px;
	
	background: rgb(30,65,200); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(30,65,200,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,65,200,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(30,65,200,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(30,65,200,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(30,65,200,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(-45deg, rgba(30,65,200,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e41c8', endColorstr='#7db9e8', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#paperName {
	float: none;
	display: inline-block;
	margin: auto;
	text-align: center;
	vertical-align: center;
	line-height: 80px;
}
#weather {
	display: inline-block;	font-weight: bold;	width: auto;	height: auto;
	height: 100%;	float: left;
	color: white;
	line-height: 80px;}

#search {
	display: inline-block;
	width: auto;
	float: right;
	text-align: right;
	line-height: 80px;
}
#menu {	padding: 0;
	clear: both;	height: 40px;	margin-bottom: 16px;
	border-bottom: 1px solid #000000;
	text-align: center;}

#menu ul {
	margin: 0;
	padding: 0;
}
#menu li {
	display: inline-block;
	padding: 0px 4%;
	margin: 0px;
	height: 40px;
	line-height: 40px;	list-style: none;}#menu a {	color: #333;	text-align: center;	text-decoration: none;	font-size: 16px;}

#menu li:hover {
	background: rgb(249,249,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(242,242,242,1) 10%, rgba(226,226,226,1) 25%, rgba(232,232,232,1) 37%, rgba(239,239,239,1) 50%, rgba(226,226,226,1) 51%, rgba(244,244,244,1) 83%, rgba(252,252,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(10%,rgba(242,242,242,1)), color-stop(25%,rgba(226,226,226,1)), color-stop(37%,rgba(232,232,232,1)), color-stop(50%,rgba(239,239,239,1)), color-stop(51%,rgba(226,226,226,1)), color-stop(83%,rgba(244,244,244,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 10%,rgba(226,226,226,1) 25%,rgba(232,232,232,1) 37%,rgba(239,239,239,1) 50%,rgba(226,226,226,1) 51%,rgba(244,244,244,1) 83%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 10%,rgba(226,226,226,1) 25%,rgba(232,232,232,1) 37%,rgba(239,239,239,1) 50%,rgba(226,226,226,1) 51%,rgba(244,244,244,1) 83%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 10%,rgba(226,226,226,1) 25%,rgba(232,232,232,1) 37%,rgba(239,239,239,1) 50%,rgba(226,226,226,1) 51%,rgba(244,244,244,1) 83%,rgba(252,252,252,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 10%,rgba(226,226,226,1) 25%,rgba(232,232,232,1) 37%,rgba(239,239,239,1) 50%,rgba(226,226,226,1) 51%,rgba(244,244,244,1) 83%,rgba(252,252,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */}
#menu a:hover {	color: #900;
	padding: 0;}#menu select {
	margin-top: 10px;	display: none;}

article {
	padding: 2px;
	-webkit-transition: background 0.7s ease, -webkit-box-shadow 1.5s ease;
	-moz-transition: background 0.7s ease, -moz-box-shadow 1.5s ease;
}

article:hover {
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 4px 4px rgba(200, 200, 200, 0.8);
	-moz-box-shadow: 0px 0px 4px 4px rgba(200, 200, 200, 0.8);
	box-shadow: 0px 0px 4px 4px rgba(200, 200, 200, 0.8);
}

article a {
	text-decoration: none;
}

article a:hover {
	text-decoration: underline;
}

article h1 a {
	color: #000099;
}

article h1 a:visited {
	color: #5500cc;
}

.articleAuthor {
	font-size: 1.1em;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.articleDate {
	font-size: 1.0em;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

#pagefooter {
	border-top: 1px solid #000000;
}

#copyright {
	display: inline-block;
	float: right;
	text-align: right;
}

footer ul {	float: left;
	width: auto;}footer li {	display: inline;	margin-right: 4%;}

@media (max-width: 767px) {
	#masthead {
		display: block;
		height: auto;
		line-height: normal;
	}
	
	#weather {
		float: none;
		display: block;
		line-height: normal;
	}
	
	#search {
		float: none;
		display: block;
		text-align: center;
		line-height: normal;
	}
}
@media (max-width: 480px) {	#menu {background-color: transparent;}	#menu ul { display: none; }	#menu select { display: inline-block; }}